<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Notes Vault</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="logo">🔐 Secret Vault</div>
      <a href="/login">
        <button class="logout-btn">Logout</button>
      </a>
    </nav>

    <section class="welcome-box">
      <h1>Welcome Private Notes Web App 👋</h1>
    </section>

    <section class="notes-section">
      <div class="notes-header">
        <h2>Your Notes</h2>
        <button class="add-note-btn">+ Add Note</button>
      </div>

      <div class="notes-form">
      </div>

      <div class="notes-container">
        <% for( let index = 0; index < allNotes.length; index++ ) {
          const note = allNotes[index];
           %>
      
        <div class="note-card">
                      <h3><%= note.title %></h3>

            <p><%= note.note %></p>

          <div class="card-buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn" onclick="deleteNote('<%= note._id %>')">Delete</button>
          </div>
        </div>
        <% } %>
      </div>
    </section>
    <script src="/js/script.js"></script>
  </body>
</html>